html, body {
    background: #222;
    overflow-x: hidden;
    line-height: 1.5;
}

#typed {
    font-family: 'Inconsolata',serif;
    color: white;
    font-size: 16px;
    word-wrap: normal;
    max-width: 90%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.red {
    color: red;
    font-weight: bold;
}

.yellow {
    color: yellow;
}

.green {
    color: #00FA9A;
}

a {
    text-decoration: none;
    color: #00FFFF;
}

img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    font-size: 0.8em;
    font-family: 'Inconsolata',serif;
    text-align: center;
    color: white;
}
.terminal {
    overflow-y: hidden;
    background-color: black;
    border-radius: 10px;
    padding: 0.8em;
}

.window {
    background: -webkit-linear-gradient(#E9E9E9, #B2B2B2 21px, #6A6A6A 1px, #000, #000 23px);
    margin: 3em auto;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: left;
    width:90%;
    min-height: 77vh;
}
nav {
    height: 19px;
}
nav a {
    display: inline-block;
    margin: 2px 2px 3px 2px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #f36;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
    text-indent: -9999px;
    position: relative;
}
nav a:before {
    content:'';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
nav a:after {
    content:'';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}
nav a.close {
    background: #FD4E4E;
}
nav a.minimize {
    background: #F3BB55;
}
nav a.maximize {
    background: #96D16F;
}
h1 {
    font: normal normal 13px/20px"Lucida Grande", "Lucida Sans Unicode", sans-serif;
    text-align: center;
    position: relative;
    z-index: 2;
    top: -2.55em;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    color: #444;
}