body	{
	font-family: Calibri, sans-serif;
}

#wrapper	{
	position: relative;
	display: inline-block;
	max-width: 1000px;
	min-height: 250px;
	min-width: 500px; 
	margin: auto;
}

#slideshow	{
	width: 75%;
	height: inherit;
	min-height: 230px;
	min-width: 400px;
	float: left;
}

#images	{
	width: 100%;
	cursor: pointer;
}

#image-caption {
	width: inherit;
	color: white;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
	position: absolute;
	height: 20%;
	bottom: 0;
	min-width: 400px;
	padding : 0.2em 0em 0.2em 1em;
	text-align: left;
	box-sizing: border-box;
}

#image-caption > p {
	font-size: 0.7em;
	color: #4da6ff;
}

#indicators	{
	display: none;
}

.dot {
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover, .active {
	background-color: #717171;
}

#caption-wrapper	{
	position: absolute;
	top:0;
	right:0;
	height: 100%;
	float: left;
	width: 25%;
	min-width: 150px;
	min-height: 230px;
}

.captions	{
	box-sizing: border-box;
	height: 25%;
	background-color: #4da6ff;
	color: white;
	cursor: pointer;
	padding: 1em 0.5em 1em 0.5em;
	transition: background-color 1s;
	font-size: 0.8em;
	text-align: left;
}

.captions > p {
	font-size: 0.7em;
	color: gray;
}

.captions:hover, .active-caption  {
	background-color: #0059b3;
}


@media screen and (max-width: 900px)	{
	#caption-wrapper	{
		display: none;
	}
	#indicators	{
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	#image-caption {
		width: inherit;
		color: white;
		background-color: rgba(0,0,0,0.7);
		z-index: 1;
		position: absolute;
		height: 10%;
		bottom: 13%;
		min-width: 400px;
		padding : 1em 0em 1em 0em;
	}
}