* {
  padding: 0;
  margin: 0;
}
body {
  font-family: calibri,sans-serif;
}

#menuIcon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  margin: 10px;
  cursor: pointer;
}
#coverpage {
  background-image: url('laptop.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100vw;
  height: 100vh;
  font-size: 36px;
  color:white;
  font-weight: 100;
}

#intro {
    padding: 5px;
    width:40%;
    position: absolute;
    top: 45%;
    right: 30%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
}

#footer {
  padding: 5px;
  width:20%;
  position: absolute;
  font-size: 0.5em;
  right: 40%;
  top: 90%;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
}

#whoIam,#whatIdo,#contact {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14%;
  padding-right: 14%;
  height:300px;
  color: darkslategray;
  font-size:24px;
  font-weight: 100;
  text-align: center;
  line-height: 1.5em;
}

footer {
  color: darkslategray;
  font-size:1em;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sidenav
{
    height: 100%;
    width: 0px;
    position: fixed;
    background-color: rgba(1,1,1,0.7);
    top:0;
    left: 0x;
    z-index:1;
    transition: width 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
}
.sidenav a
{
    display: block;
    color:darkgray;
    padding: 8px 8px 8px 32px;
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.3s;
}
.sidenav a:hover
{
    color: azure;
}
.closebtn
{
    position:absolute;
    top:0;
    right: 25px;
    font-size: 36px;

}

@media screen and (max-device-width: 481px) {
  #intro {
        padding: 5px;
        width:70%;
        position: absolute;
        top: 45%;
        right: 15%;
        font-size: 1.5em;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
  }
  #footer {
    padding: 5px;
    width:50%;
    position: absolute;
    font-size: 0.9em;
    right: 25%;
    top: 90%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
  }
  .sidenav a
  {
      display: block;
      color:darkgray;
      padding: 8px 8px 8px 32px;
      font-size: 3em;
      text-decoration: none;
      transition: 0.3s;
  }
  #menuIcon {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    margin: 10px;
    cursor: pointer;
  }
}
