body {
  font-family: calibri,sans-serif;
  background-image: url('city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h2,h3 {
  font-weight: 200;
  color: azure;
  padding: 4px;
  text-align: center;
}
#wrapper {
  height: 70vh;
  width: 70vw;
  position: absolute;
  left:18vw;
}

.box {
  float: left;
  height: 15vh;
  width: 15vw;
  padding-top: 9px;
  margin: 0.5vh;
  font-size: 36px;
  font-weight: 400;
  background-color: darkslategray;
  border: 2px solid azure;
  color:white;
  border-radius: 5px;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
}

@media screen and (max-device-width: 481px) {
  h2,h3 {
    font-weight: 200;
    font-size: 2em;
    color: azure;
    padding: 4px;
    text-align: center;
    line-height: 2em;
  }
}
